body {
    margin: 0;
    padding: 0;
    background-color: #1e1e1e; /* Cor de fundo escura */
    color: #ffffff; /* Texto em cor branca */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column; /* Alinha os elementos em uma coluna */
    align-items: center; /* Centraliza horizontalmente todos os elementos filhos */
}

h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.imagem-centralizada {
    width: 200px; /* Ajusta o tamanho da imagem */
    height: auto; /* Mantém a proporção da imagem */
    margin-bottom: 40px; /* Espaço entre a imagem e a caixa de texto */
}

.input-text {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1rem;
    background-color: #333;
    color: #ffffff;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #45a049;
}

.start-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.start-btn:hover {
    background-color: #45a049;
}

#output {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #ff0000; /* Cor para erro */
}

#fb{
    width: 50%;
}